.order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 2rem;
  border-radius: 9px;
  box-shadow: 5px 6px 16px 0px #2a2a2a29;

  p {
    margin: 0;
  }

  &__wrapper {
    display: flex;
    align-items: flex-end;
  }

  &__text {
    margin-right: 1rem;

    .id {
      font-weight: bold;
    }
  }
}

@media (max-width: 760px) {
  .order {
    width: 60%;
    flex-direction: column;
    text-align: center;

    p {
      margin: 1rem 0;
    }
  }
}

@media (max-width: 380px) {
  .order {
    width: 80%;
  }
}
