.image-text {
  position: relative;
  background: none;
  cursor: pointer;

  img {
    width: 100%;
    border-radius: 9px;
    overflow: hidden;
    box-shadow: 5px 6px 16px 0px #2a2a2a29;
  }

  div {
    width: 100%;
    margin: 0;
    padding: 0.5rem 1rem;
    position: absolute;
    bottom: 4px;
    right: 0;
    background-color: rgba(42, 42, 42, 0.8);
    color: white;
    box-sizing: border-box;
    border-radius: 0px 0px 9px 9px;
    transition: all 0.1s linear;
    box-shadow: 5px 6px 16px 0px #2a2a2a29;
  }
}
