.article__wrapper {
  margin-bottom: 5rem;

  & > div {
    margin-bottom: 1rem;
  }
}

@media (max-width: 1300px) {
  .article__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
