.wishlist__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5rem;

  & > div {
    width: 20%;
    margin-bottom: 2%;
  }

  & > div:not(:nth-child(4n)) {
    margin-right: 2%;
  }
}

@media (max-width: 1200px) {
  .wishlist__wrapper {
    & > div {
      width: 28%;
    }

    & > div:not(:nth-child(3n)) {
      margin-right: 1%;
    }
  }
}

@media (max-width: 1030px) {
  .wishlist__wrapper {
    justify-content: space-around;
    & > div {
      width: 35%;
    }

    & > div:not(:nth-child(3n)) {
      margin-right: 0;
    }

    & > div:not(:nth-child(4n)) {
      margin-right: 0;
    }
  }
}

@media (max-width: 480px) {
  .wishlist__wrapper {
    justify-content: center;

    & > div {
      width: 90%;
      margin-bottom: 2rem;
    }

    & > div:not(:nth-child(3n)) {
      margin-right: 0;
    }

    & > div:not(:nth-child(4n)) {
      margin-right: 0;
    }
  }
}
